<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="static/about.css">
</head>

<body> -->
{%extends 'base.html'%}
{% block content%}

<div class="heading">
  <h1>About Us</h1>
  <p>We at RedStore work for you to provide the best of lenses at reasonable price.No one in the market can ever
    provide the best of the products than we deliver.We are the fastest growing online store in the world.We deliver
    our products locally and overseas.</p>
</div>
<div class="container">
  <section class="about">
    <div class="about-image">
      <img src="static/images/11.jpg">
    </div>
    <div class="about-content">
      <h2>Warm Your LookUp with Spectacles.</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore aspernatur id quas iusto maxime
        consequuntur. Sit illo recusandae velit atque repudiandae corrupti incidunt ut illum nemo in quidem molestiae
        officiis tempora accusantium est temporibus, laborum numquam sequi totam minima rem sed excepturi! Veritatis
        tenetur, nemo eum qui aut unde quaerat.</p>
      <a href="" class="read-more">Read More</a>
    </div>
  </section>
</div>
{% endblock %}